@tailwind base;
@tailwind components;
@tailwind utilities;

/* .header-container{
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
}
.logo-img{
    width: 150px;
    height: 100px;
}
.nav-items{
    padding: 0 20px;
}
.nav-items > ul{
    display: flex;
    list-style-type: none;
}
.nav-items > ul >li{
    margin: 10px;
    padding: 10px;
}
.search-container{
    padding: 10px;
}
.res-container{
    display: flex;
    flex-wrap: wrap;
}
.res-card{
    background-color: blanchedalmond;
    padding: 5px;
    margin: 5px;
    width: 300px;
    height: 450px;
}
.res-card:hover{
    cursor: pointer;
    border: 1px solid black;
}
.res-img{
    width: 100%;
    height: 44%;
}
.footer-container{
    border: 2px solid black;
    display: flex;
}
.filter-btn{
    margin: 5px;
}
.shimmer-container{
    display:flex;
    flex-wrap:wrap;
}
.shimmer-card{
    background-color: lightgray;
    margin: 15px;
    width: 300px;
    height: 600px;
}
.shimmer-img{
    width: 100%;
    height: 44%;
}
.shimmer-card {
    h3 {
        margin-bottom: 8px; 
        width: 80%; 
        height: 16px; 
        background-color: #e0e0e0; 
        border-radius: 4px; 
      }
    h4 {
        margin-bottom: 8px; 
        width: 80%; 
        height: 16px; 
        background-color: #e0e0e0; 
        border-radius: 4px; 
      }
}
.login{
    background-color: plum;
    padding: 2px;
    cursor: pointer;
}
.filter-container{
    display: flex;
}
.search-res{
    margin: 5px;
}
.error-container{
    margin-top: 14%;
    text-align: center;
}
.error-container > h3{
    font-size: 40px;
}
.error-container > h2{
    font-size: 40px;
}
.user-info{
    padding: 10px;
    border: 1px solid black;
    margin: 2px;
} */